h1{


}

h2{
  font-size: 10pt;

}

h3{

  font-size: 16pt;
  text-align: center;




}



#toptext{
  max-width: 100%;
  font-size: 14pt;
  font-family: Palanquin, sans-serif;
  line-height: 1.4em;

}

svg{
color: none;



}

#nysd{
  display: block;
  position: static;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
}
path{
border:black;

}

path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}

/*110 percent or more overcapacity*/
#SD20, #SD24, #SD25, #SD26 {
  fill: #990000;

    }

/*100 to 110 percent overcapacity*/
#SD10, #SD11, #SD15, #SD22, #SD28, #SD30, #SD31{
  fill: #db2b2b;}

/*90 to 100 percent capacity*/
#SD02, #SD04, #SD06, #SD08, #SD09, #SD12, #SD21, #SD27, #SD29{
  fill: #ff7777;}

/*80 to 90 percent capacity*/
#SD01, #SD03, #SD05, #SD07, #SD13, #SD14{
  fill:#ffb2b2;}

/*less than 80 percent capacity*/
  #SD17,#SD18,#SD19,#SD23,#SD32,#SD17,#SD23, #SD16{
    fill:#fceaea;
  }

#info-box {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

#info-box::first-line {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
  font-size: 16pt;
  font-weight: 800;
}

/* basic positioning */
.legend { list-style: none;
          font-size:  10pt;
          margin-left: 0 ;
          margin-right: 0;
          font-family: Roboto, sans-serif;





}
.legend li {  margin-right: 0; }
.legend span { border: 1px solid #ccc; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .plus110 { background-color: #990000; }
.legend .plus100{ background-color: #db2b2b; }
.legend .ninetyto100 { background-color: #ff7777; }
.legend .eightyto90 { background-color: #ffb2b2; }
.legend .below80 { background-color: #fceaea; }


/*110 percent or more overcapacity*/
#CSD17, #CSD05, #CSD07  {
  fill: #184418;

    }

/*100 to 110 percent overcapacity*/
  #CSD15,  #CSD04, #CSD13{
  fill: #3e753e;}

/*90 to 100 percent capacity*/
#CSD19,#CSD14, #CSD23, #CSD03,  #CSD30,  #CSD06, #CSD08, #CSD09{
  fill: #669666;}

/*80 to 90 percent capacity*/
#CSD22, #CSD32, #CSD02, #CSD10, #CSD11,  #CSD12, #CSD29{
  fill:#9fc69f;}

/*less than 80 percent capacity*/
   #CSD20, #CSD24, #CSD01,#CSD25, #CSD26, #CSD27, #CSD28,  #CSD21,  #CSD31{
    fill:#e6f2e6;
  }

.legend2{
  list-style: none;
            font-size:  10pt;
            display: block;
            margin-left: 0 auto;
            margin-right: 0 auto;
            font-family: Roboto, sans-serif;


}


.legend2 li { float: left; margin-right: 10px; }
.legend2 span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend2 .plussixthousand { background-color: #184418; }
.legend2 .fortyfivehundredtosixthousand{ background-color: #3e753e; }
.legend2 .threetofortyfivehundred { background-color: #669666; }
.legend2 .fifteentothreethousand { background-color: #9fc69f; }
.legend2 .below1500 { background-color: #e6f2e6; }





/*110 percent or more overcapacity*/
#PSD20, #PSD25  {
  fill: #4c1c00;

    }

/*100 to 110 percent overcapacity*/
  #PSD26,  #PSD28{
  fill: #823d16;}

/*90 to 100 percent capacity*/
#PSD11,#PSD15, #PSD21, #PSD30{
  fill: #a05b35;}

/*80 to 90 percent capacity*/
#PSD01, #PSD02, #PSD03, #PSD04, #PSD05,  #PSD07, #PSD10, #PSD12, #PSD13, #PSD16, #PSD19, #PSD22, #PSD23, #PSD27, #PSD29, #PSD31{
  fill:#ba7a57;}

/*less than 80 percent capacity*/
   #PSD08, #PSD09, #PSD14, #PSD18, #PSD24, #PSD32{
    fill:#ce9f86;
  }


  /*less than 80 percent capacity*/
     #PSD06, #PSD17{
      fill:#ffe8d6;
    }


.legend3{
  list-style: none;
            display: block;
            font-size:  10pt;
            margin-left: auto;
            margin-right:  auto;
            font-family: Roboto, sans-serif;


}


.legend3 li { margin-right: 10px; float: left;}
.legend3 span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend3 .morethan5000 { background-color: #4c1c00; }
.legend3 .twothousandto4999{ background-color: #823d16; }
.legend3 .oneto1999 { background-color: #a05b35; }
.legend3 .decrease1to2000 { background-color: #ba7a57; }
.legend3 .twothousand1to5000 { background-color: #ce9f86; }
.legend3 .decreasemorethan5000 { background-color: #ffe8d6; }




#container{
  max-width: 100%;
  height: 400px;

}


#graphsubhead{
    margin-left: 21%;
    font-weight: lighter;


}

#photo1{
    min-width: 100%;




}


/* Tablet/Desktop overrides */

@media(min-width: 681px) {
    /* Any adjustments for tablets and larger go here. Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */

    #nysd{
      display: block;
      position: static;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    #toptext{
            margin-left: 10%;
            margin-right:10%;
            max-width: 80%;
    }

    h1,h2{margin-left: 10%;
    margin-right:10%;
    max-width: 80%;
    }


    #container{

      min-width: 310px;
      height: 800px;
      max-width: 1000px;
      margin: 0 auto;



    }

figcaption{
    margin-left: 27%;

}

    #graphsubhead{

        margin-left: auto;
        margin-right: auto;
        text-align: center;



    }




    .legend2{
      list-style: none;
                font-size:  10pt;
                margin-left: 23.8%;
                margin-right:10%;
                font-family: Roboto, sans-serif;


    }


    .legend2 li { float: left; margin-right: 10px; }
    .legend2 span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
    /* your colors */
    .legend2 .plussixthousand { background-color: #184418; }
    .legend2 .fortyfivehundredtosixthousand{ background-color: #3e753e; }
    .legend2 .threetofortyfivehundred { background-color: #669666; }
    .legend2 .fifteentothreethousand { background-color: #9fc69f; }
    .legend2 .below1500 { background-color: #e6f2e6; }



    .legend { list-style: none;
              font-size:  10pt;
              margin-left: 23.8%;
              margin-right:10%;
              font-family: Roboto, sans-serif;




    }
    .legend li { float: left; margin-right: 10px; }
    .legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
    /* your colors */
    .legend .plus110 { background-color: #990000; }
    .legend .plus100{ background-color: #db2b2b; }
    .legend .ninetyto100 { background-color: #ff7777; }
    .legend .eightyto90 { background-color: #ffb2b2; }
    .legend .below80 { background-color: #fceaea; }

    #photo1{
        max-width: 1.9%;

        display: block;
        margin-left: auto;
        margin-right: auto;

    }



}
@media(min-width: 829px) {
        /* Any adjustments for desktop and larger go here. Note these styles will be applied to anything 729px or larger -- so desktop */

        #nysd{
          display: block;
          position: static;
          top: 0;
          left: 0;
          width: 50%;
          height: 50%;
          margin-left: 25%;
          margin-right:10%;

        }
#toptext{
        margin-left: 27%;
        margin-right:10%;
        max-width: 45%;
}

h1,h2{margin-left: 27%;
margin-right:10%;
max-width: 45%;
}

#container{
  min-width: 310px;
  height: 800px;
  max-width: 1000px;
  margin: 0 auto;




}


.legend2{
  list-style: none;
            font-size:  10pt;
            margin-left: 23.8%;
            margin-right:10%;
            font-family: Roboto, sans-serif;


}


.legend2 li { float: left; margin-right: 10px; }
.legend2 span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend2 .plussixthousand { background-color: #184418; }
.legend2 .fortyfivehundredtosixthousand{ background-color: #3e753e; }
.legend2 .threetofortyfivehundred { background-color: #669666; }
.legend2 .fifteentothreethousand { background-color: #9fc69f; }
.legend2 .below1500 { background-color: #e6f2e6; }


}

.legend { list-style: none;
          font-size:  10pt;
          margin-left: 23.8%;
          margin-right:10%;
          font-family: Roboto, sans-serif;




}
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .plus110 { background-color: #990000; }
.legend .plus100{ background-color: #db2b2b; }
.legend .ninetyto100 { background-color: #ff7777; }
.legend .eightyto90 { background-color: #ffb2b2; }
.legend .below80 { background-color: #fceaea; }


#photo1{
    max-width: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

}
